<mat-drawer-container class="example-container" autosize>
  <!-- SideNav -->
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
  <mat-nav-list>
    <p routerLink="students" mat-list-item>Alumnos</p>
    <p routerLink="courses" mat-list-item>Cursos </p>
  </mat-nav-list>
  </mat-drawer>
  <!-- contenido central -->
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar color="primary">
        <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <p appCustomDirective>ABM Estudiantes</p>
      </mat-toolbar>
      <p appCustomDirective>ABM Estudiantes</p>
    </mat-toolbar>
    <main style="padding: 1rem">
      <app-students></app-students>
    </main>
    <div class="container"></div>
    <button class="btn btn-danger">asdasd</button>
    <app-courses></app-courses>
  </div>
</mat-drawer-container>
